@import 'colors';

@mixin underline($height, $color, $width) {
  width: $width;
  height: $height;
  background-color: $color;
  margin: auto;
  vertical-align: bottom;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.page-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-background;
}

.page-header--underlined {
  @include underline(10px, $header-underline, 100%);
}

.page-header__title {
  flex-grow: 10;
  padding-left: 3%;
  font: bold 200% sans-serif;
}

.page-header__login-form {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.login-form__inputs {
  input { 
    display: block;
    margin: 5px;
  }
}

.login-form__submit {
  display: inline-block;
  margin: 5px;
}

.options {
  display: flex;
  margin: auto;
  margin-top: 30px;
  font-size: 0px;
}

.button {
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
  font-size: 16px;
  background: $article-background;
  align-items: flex-end;
  &:hover + .button__underline {
    @include underline(3px, $article-underline, auto);
  }
}

.button__underline {
  @include underline(3px, $article-background, auto);
}
