@import 'colors';

@mixin underline($height, $color, $width) {
  width: $width;
  height: $height;
  background-color: $color;
  margin: auto;
}

@mixin container($height, $width, $color) {
  height: $height;
  width: $width;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
}

.page-header {
  @include container(100px, auto, $header-background);
}

.page-header-underline {
  @include underline(10px, $header-underline, 100%);
}

.page-header__title {
  flex-grow: 10;
  padding-left: 3%;
  font: bold 32px sans-serif;
}

.page-header__login-form {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.login-form__inputs {
  input { 
    display: block;
    margin: 5px;
  }
}

.login-form__submit {
  display: inline-block;
  margin: 5px;
}

.options {
  display: flex;
  margin: auto;
  margin-top: 30px;
  font-size: 0px;
}

.button {
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
  font-size: 16px;
  background: $article-background;
  &:hover + .button__underline {
    @include underline(3px, $article-underline, auto);
  }
}

.button__underline {
  @include underline(3px, $article-background, auto);
}

.story {
  @include container(auto, auto, $article-background);
  padding: 10px;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

.counter {
  @include container(40px, 40px, $header-background);
  flex-direction: column;
  min-width: 40px;
  justify-content: flex-end;
}

.counter__value {
  margin: auto;
}

.counter__underline {
  @include underline(5px, $header-underline, 100%);
  margin: 0px;
}

.arrows {
  @include container(40px, 40px, $article-background);
  flex-direction: column;
  min-width: 40px;
  .gray-arrow {
    color: $light-gray;
  }
}

.info {
  .info__title {
    font: bold 20px sans-serif;
  }
  .info__url {
    font-size: 15px;
    text-decoration: underline;
  }
}

.story-underline {
  @include underline(5px, $article-underline, 100%);
}
