@import 'colors';

@mixin underline($height, $color, $width) {
  width: $width;
  height: $height;
  background-color: $color;
  margin: auto;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.page__header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-background;
}

.page__header-underlined {
  @include underline(10px, $header-underline, 100%);
}

.page__header__title {
  flex-grow: 10;
  padding-left: 3%;
  font: bold 200% sans-serif;
}

.page__header__login-form {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.page__header__login-form__inputs {
  input { 
    display: block;
    margin: 5px;
  }
}

.page__header__login-form__submit {
  display: inline-block;
  margin: 5px;
}

.options {
  margin: auto;
  margin-top: 30px;
}

.options__button {
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
  background: $article-background;
  align-items: flex-end;
/*  &:hover {
    @include underline(2px, $article-underline, auto);
  }*/
}

.options__popular-underlined {
  @include underline(5px, $article-underline, auto);
}
